body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #9fede4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00eeff;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  padding: 2em;
}

form {
  background-color: #ddfcf7;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 2em;
}


table.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

table.tabla-productos th,
table.tabla-productos td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table.tabla-productos thead {
  background-color: #b2fcff;
}


button {
  padding: 0.5em 1em;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0099cc;
}


#resultado,
#corte {
  font-weight: bold;
  margin-top: 1em;
  font-size: 1.1em;
}


footer {
  background-color: #b2fcff;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
}